.list-container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 500px;
    // margin-left: 39px;
  overflow: scroll;

}
.lightblue {
    background: rgba(137, 43, 226, 0.616);
}
.lightblue {
    background: slategrey;
}
th, td{
    padding: 10px;
    border-radius: 20px;
}

.list-del-btn {
    margin: 0 auto;
    text-align: center;
    display: flex;
    margin-top: 2rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: crimson;
    width: min-content;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: -4px 3px 25px -3px black;
    cursor: pointer;
    transition: all 0.5s;
}
.list-del-btn:hover {
    border: 1px solid rgb(252, 2, 52);
    background: rgb(207, 147, 147, 0.3);

}
.list-del-btn span {
    display: inline-block;
    width: min-content;
}
.list-del-btn span:hover {
    color: crimson;
}

.list-del-btn span {
    color: black;
    font-weight: bold;
    
}

.alert_message {
    display: none;
}

@media screen and (max-width : 840px) {
    .alert_message {
        color: #2B2A4C;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;
    }
    .list-container{
        display: none;
    }
    .list_heading {
        display: none;
    }
}

@media screen and (max-width : 640px) {
    .alert_message {
        font-size: 1rem;
    }
}
@media screen and (max-width : 400px) {
    .alert_message {
        font-size: 0.7rem;
    }
}