.list-container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 32rem;
}
.list-container  div {
    overflow: scroll;
}
.table_parent {

}
.table_button {
}
tr {
    color: white;
    background-color: rgb(178, 182, 179);
}
table {
    overflow: scroll;
}
.trfornew:hover {
    cursor: pointer;
    border-radius: none;
    background-color: #2b2a4cb6;
}
.lightblue {
    background: rgba(137, 43, 226, 0.616);
}
.lightblue {
    background: slategrey;
}
th, td{
    padding: 10px;
    text-transform: capitalize;

}
.list-container > div {
    height: 85%;
//   overflow: scroll;
  padding: 0rem 1rem;
}
.table_first_row{
    background-color: rgb(99, 99, 226);
    color: white;
}
.list-del-btn {
    margin: 0 auto;
    text-align: center;
    display: flex;
    margin-top: 2rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: min-content;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #2B2A4C;
    transition: all 0.5s;
}
.list-del-btn:hover {
    box-shadow: -5px 5px 25px -11px black;
    transform: scale(1.2);

}
.list-del-btn button {
    color: white;
    display: inline-block;
    width: min-content;
}

.alert_message {
    display: none;
}


.list-container-child{
    display: flex;
    flex-direction: column;
}
.table_parent {
    overflow: scroll;
    height: 80%;
}
.table_button {
    height: 10%;
    overflow: hidden !important;
}
@media screen and (max-width : 870px) {
    th, td{
        padding: 0.6rem;
        font-size: 0.6rem;
    }
}
@media screen and (max-width : 500px) {
    th, td{
        padding: 0.6rem;
        font-size: 0.4rem;
    }
}
