.user-list-container {
    margin-top: 3rem;
    height: 400px;
    width: 100%;
    // margin-left: 100px;
}
.user-list-container h1{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}