*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  
}
body {
  // max-width: 1400px;
  // display: flex;
  // justify-content: center;
  background-color: rgb(185 185 185 / 62%);
}